.jumbotron {
  background-image: url(../images/backgrounds/landing.jpg);
  /*min-height: 100%;*/
  margin-bottom: 0;
  border-radius: 0;
}
#logo {
  display: block;
  margin:auto;
  padding: 10px;
}
#text {
  text-align: center;
  font-size: 30px;
  color: white;
}
.table1{
  margin-top: 0;
  height:150px;
}

td {
  width:277.5px;
}

.Happyhour{
  background-color: #F2F4FF;
}

.Breakfast{
  background-image: url(../images/foodtop/breakfast.jpg);
}
.Lunch{

  background-image: url(../images/foodtop/lunch.jpg);
  opacity: 0.5;
}

.Dinner{
  background-image: url(../images/foodtop/dinner.jpg);
}

.PartyTime{
  background-color: #EF561A;
}

h5{
  color: white;
  text-align: center;
}

.Happyhour h5 {
  color: black;
  text-align: center;
}


.fastfood-section {
  margin-top: 0px;
  display: flex;
}

.fastfood {
  flex: 1;
  order: 1;
}

.fastfood-paragraph {
  flex: 1;
  order: 2;
}

.drinks-section {
  margin-top: 0px;
  display: flex;
}

.drinks{
  flex: 1;
  order: 2;
}
.drinks-paragraph {
  flex: 1;
  order: 1;
}

.carousel-slide{
  background-image: url(/images/backgrounds/foodsBg.jpg);

}

#navContainer {
  padding: 100px;
  background-image: url(../images/backgrounds/foodsBg.jpg)
}

#card_left {
  color: #F15A29;
  margin-right: 10px;
}

#card_right {
  color: #F15A29;
  margin-left: 10px;

}

#testimonials {
  padding-right: 30px;
}

#div_testimonials {
  border: solid 1px #dadee5;
  margin-top: 75px;
  margin-bottom: 75px;
  padding-top: 25px;
  padding-bottom: 25px;
}


#div_testimonials h5,
h6,
p {
  text-align: center;
}

#p2 {
  margin-left: 5px;
}

#p3 {
  margin-left: 5px;
}

#div_testimonials h5,
h6 {
  color: #F15A29;
}

#about {
  border-left: solid 1px #dadee5;

}

#about {
  padding-right: 10px;
}

#left_angle {
  padding-left: 145px;
  color: #F15A29;

}

#right_angle {
  color: #F15A29;
}
